@import "~antd/dist/antd.css";

html,
body {
  background-color: #f2f2f2;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='11.879999999999999'%3E%3Cpath transform='translate(-37.45 8) rotate(4.85 1409 581) scale(1.0179369999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='3.9600000000000004' transform='translate(-23.5 22) rotate(6.1 800 450) scale(1.011)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(18.2 -61.5) rotate(60.5 401 736) scale(1.011)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='3.6'%3E%3Cpath transform='translate(132 -7.800000000000001) rotate(1.9500000000000002 150 345) scale(0.9799789999999998)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='7.920000000000001' transform='translate(-82.5 -55.5) rotate(72 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-126.4 41.6) rotate(12 1400 132) scale(0.995)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  background-attachment: fixed;
  background-size: cover;
  --green: #27ae60;
  --dark-green: #219653;
  --light-green: #6fcf97;
  --green-smoke: #dbf3e5;
  --black: #333333;
  --gray: #828282;
  --red: #eb5757;

  /* overflow: auto; */
  /* height: 100vh;
  width: 100vw; */
}

.clickable:hover {
  text-decoration: underline;
  color: var(--green);
  cursor: pointer;
}

.boldhover:hover {
  font-weight: bold;
  cursor: pointer;
  color: #219653;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.green {
  color: var(--green);
}

.dark-green {
  color: var(--dark-green);
}

.bg-green-smoke {
  background-color: var(--green-smoke);
}

.bg-white {
  background-color: white;
}

.bg-green {
  background-color: var(--green);
}

.black {
  color: var(--black);
}

.gray {
  color: var(--gray);
}

.red {
  color: var(--red);
}

.white {
  color: white;
}

.icon {
  font-size: 24px;
}

.tag {
  font-size: 1rem;
  color: var(--dark-green);
  background-color: var(--green-smoke);
  border-color: var(--green-smoke);
  justify-content: center;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
}

.tag:hover {
  background-color: var(--dark-green);
  color: white;
  cursor: pointer;
}

.green-button {
  background-color: var(--green);
  border-color: var(--green);
  color: white;
}

.green-button:hover {
  background-color: var(--green-smoke);
  border-color: var(--green);
  color: var(--green);
}

.green-button:focus {
  background-color: var(--green-smoke);
  border-color: var(--green);
  color: var(--green);
}

.greensmoke-button {
  background-color: var(--green-smoke);
  border-color: var(--green-smoke);
  color: var(--dark-green);
}

.greensmoke-button:hover {
  background-color: white;
  border-color: var(--green);
  color: var(--dark-green);
}

.greensmoke-button:focus {
  background-color: white;
  border-color: var(--green);
  color: var(--dark-green);
}

.white-button {
  background-color: white;
  border-color: Gainsboro;
  color: var(--black);
}

.white-button:hover {
  border-color: var(--green);
  color: var(--green);
}

.white-button:focus {
  border-color: var(--green);
  color: var(--green);
}

.whitegreen-button {
  background-color: white;
  border-color: grey;
  color: var(--black);
}

.whitegreen-button:hover {
  background-color: var(--green-smoke);
  border-color: var(--green-smoke);
  color: var(--dark-green);
}

.whitegreen-button:focus {
  background-color: var(--green-smoke);
  border-color: var(--green-smoke);
  color: var(--dark-green);
}

.full {
  height: 100vh;
  width: 100vw;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* test area */
.pink {
  background-color: pink;
}

/* Ant Design modification */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--green);
  border-color: var(--green);
}

.facebook-container {
  background-color: #4267b2;
  border-color: #4267b2;
  color: white;
}

.facebook-container:hover {
  background-color: rgba(66, 103, 178, 0.15);
  border-color: #4267b2;
  color: #4267b2;
}

.facebook-container:focus {
  background-color: rgba(66, 103, 178, 0.15);
  border-color: #4267b2;
  color: #4267b2;
}

.github-container {
  background-color: rgb(43, 49, 55);
  border-color: rgb(43, 49, 55);
  color: white;
}

.github-container:hover {
  background-color: rgba(43, 49, 55, 0.15);
  border-color: rgb(43, 49, 55);
  color: rgb(43, 49, 55);
}

.github-container:focus {
  background-color: rgba(43, 49, 55, 0.15);
  border-color: rgb(43, 49, 55);
  color: rgb(43, 49, 55);
}

.google-container {
  background-color: rgb(57, 114, 254);
  border-color: rgb(57, 114, 254);
  color: white;
}

.google-container:hover {
  background-color: rgba(57, 114, 254, 0.15);
  border-color: rgb(57, 114, 254);
  color: rgb(57, 114, 254);
}

.google-container:focus {
  background-color: rgba(57, 114, 254, 0.15);
  border-color: rgb(57, 114, 254);
  color: rgb(57, 114, 254);
}

.ellipsis {
  height: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* z-index: -9999; */
}

.bottom-fade {
  height: 128px;
  margin-top: -128px;
  background-image: url("./assets/fade.png");
  transform: rotate(360deg);
  pointer-events: none;
}

/* scroll bar handle */
/* ::-webkit-scrollbar {
  width: 12px;
} */

/* Track */
/* ::-webkit-scrollbar-track { */
/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
/* -webkit-border-radius: 10px; */
/* border-radius: 10px; */
/* } */

/* Handle */
/* ::-webkit-scrollbar-thumb { */
/* -webkit-border-radius: 10px; */
/* border-radius: 10px; */
/* background: var(--light-green); */
/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
/* } */

.break-word {
  word-break: break-word;
}

.long-text-ellipsis {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ant-menu.ant-menu-dark .ant-menu-item:hover.navitem {
  background-color: var(--dark-green); /*Overriden property*/
}

.ant-menu.ant-menu-dark > .ant-menu-item-active.pickitem,
.ant-menu.ant-menu-dark > .ant-menu-item-selected.pickitem {
  background-color: var(--green-smoke); /*Overriden property*/
}

.ant-menu.ant-menu-dark > .ant-menu-item-active.notpickitem,
.ant-menu.ant-menu-dark > .ant-menu-item-selected.notpickitem {
  background-color: transparent; /*Overriden property*/
}

.object-fit {
  object-fit: scale-down;
}

.disable-horizontal-scroll {
  overflow-x: hidden;
}

.enable-horizontal-scroll {
  overflow-x: auto;
}

.box-shadow {
  box-shadow: 20px 40px #888888;
}
