.chat-container {
  /* display: flexbox; */
  /* grid:
    "chat-title"
    "chat-message-list";
  "chat-form"; */
  height: 70vh;
  /* background: pink; */
}

.search-container {
  display: flex;
  align-items: center;
  grid-area: search-container;
  background-color: var(--dark-green);
  padding: 20px;
  z-index: 0;
}

.conversation-list {
  grid-area: conversation-list;
  overflow-y: scroll;
}

.conversation {
  display: grid;
  grid-template-columns: 40px 1fr max-content;
  grid-gap: 10px;
  color: var(--gray);
  font-size: 1.2rem;
  border-bottom: 1px solid var(--dark-green);
  padding: 20px;
}

.conversation.active,
.conversation:hover {
  background: var(--light-green);
}

.conversation:hover {
  cursor: pointer;
}

.conversation img {
  grid-row: span 2;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.title-text {
  font-weight: bold;
  color: var(--dark-green);
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.update-date {
  font-size: 1rem;
}

.conversation-message {
  grid-column: span 2;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.chat-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: chat-title;
  color: var(--dark-green);
  font-weight: bold;
  font-size: 1.8rem;
  box-shadow: 0 1px 3px -1px var(--black);
  padding: 0 20px;
}

.chat-message-list {
  /* display: flex; */
  display: flex;
  flex-flow: column;
  height: 100%;
  flex-direction: column-reverse;
  padding: 0 20px;
  margin: 10px;
  /* grid-area: chat-message-list; */
  overflow-y: scroll;
}

.message-row {
  display: grid;
  grid-template-columns: 70%;
  margin: 8px;
}

.message-content {
  display: grid;
}

.you-message {
  justify-content: end;
}

.you-message .message-content {
  justify-items: end;
}

.other-message .message-content {
  grid-template-columns: 48px 1fr;
  grid-column-gap: 15px;
  justify-items: start;
}

.message-row img {
  border-radius: 100%;
  grid-row: span 2;
  width: 32px;
  height: 32px;
}

.message-time {
  font-size: 1.2rem;
  color: var(--grey);
}

.message-text {
  padding: 9px 14px;
  font-size: 1.4rem;
  margin-bottom: 5px;
  word-break: break-word;
}

.you-message .message-text {
  background: var(--green);
  color: var(--white);
  border-radius: 6px;
}

.other-message .message-text {
  background: var(--green-smoke);
  color: var(--black);
  border-radius: 6px;
}

.chat-form {
  display: flex;
  height: 80px;
  align-items: center;
  grid-area: chat-form;
  background: var(--white-smoke);
  padding: 16px;
}

.chat-form input {
  flex: 1 0 0;
  outline: none;
  padding: 10px;
  border: none;
  color: var(--black);
  font-size: 1rem;
  margin: 10px;
}

::-webkit-scrollbar {
  display: none;
}
