.feed-container {
  display: grid;
  grid:
    "sidebar content"
    / 1fr;
  /* min-width: 800px;
    max-width: 1000px; */
  /* max-height: 800px; */
  /* flex: 1 0 0; */
  height: 90vh;
  background: #fff;
}

.sidebar {
  grid-area: sidebar;
  overflow-y: scroll;
}

.content {
  grid-area: content;
  overflow-y: scroll;
}
